body {
  margin: 0;
}
.container {
  width: 100vw;
  height: 100vh;
  position: relative;
}
.image {
  width: 100%;
  height: 100%;
}
.box {
  position: absolute;
  top: 50%;
  left: 50%;
  border: 1px dashed white;
  border-radius: 50%;
  translate: -50% -50%;
}
.sun {
  width: 100px;
  height: 100px;
  background-image: url(imagesSolarSystem/sun.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: none;
}
@keyframes rotated {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.mercury {
  width: 200px;
  height: 200px;
  animation: rotated 5s linear infinite;
}
.planetMercury {
  width: 15px;
  height: 15px;
  background-image: url(imagesSolarSystem/mercury.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  animation: rotated 5s linear infinite;
  margin-top: 27%;
}
.venus {
  width: 300px;
  height: 300px;
  animation: rotated 10s linear infinite;
}
.planetVenus {
  width: 25px;
  height: 25px;
  background-image: url(imagesSolarSystem/venus.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border-radius: 50%;
  animation: rotated 15s linear infinite;
  margin-top: 26%;
}
.earth {
  width: 400px;
  height: 400px;
  animation: rotated 15s linear infinite;
}
.planetEarth {
  width: 30px;
  height: 30px;
  background-image: url(imagesSolarSystem/earth.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border-radius: 50%;
  animation: rotated 1s linear infinite;
  margin-top: 27.5%;
}
.mars {
  width: 500px;
  height: 500px;
  animation: rotated 20s linear infinite;
}
.planetMars {
  width: 20px;
  height: 20px;
  background-image: url(imagesSolarSystem/mars.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border-radius: 50%;
  animation: rotated 2s linear infinite;
  margin-top: 33%;
}
.jupiter {
  width: 600px;
  height: 600px;
  animation: rotated 25s linear infinite;
}
.planetJupiter {
  width: 58px;
  height: 58px;
  background-image: url(imagesSolarSystem/jupiter.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border-radius: 50%;
  animation: rotated 500ms linear infinite;
  margin-top: 24%;
}
.saturn {
  width: 700px;
  height: 700px;
  animation: rotated 30s linear infinite;
}
.planetSaturn {
  width: 55px;
  height: 55px;
  background-image: url(imagesSolarSystem/saturn.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border-radius: 50%;
  animation: rotated 750ms linear infinite;
  margin-top: 26%;
}
.uranus {
  width: 800px;
  height: 800px;
  animation: rotated 35s linear infinite;
}
.planetUranus {
  width: 42px;
  height: 42px;
  background-image: url(imagesSolarSystem/uranus.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border-radius: 50%;
  animation: rotated 800ms linear infinite;
  margin-top: 32%;
}
.neptune {
  width: 900px;
  height: 900px;
  animation: rotated 40s linear infinite;
}
.planetNeptune {
  width: 40px;
  height: 40px;
  background-image: url(imagesSolarSystem/neptune.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border-radius: 50%;
  animation: rotated 950ms linear infinite;
  margin-top: 33%;
}
