.loop {
  width: 415px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-align: center;
}
h1 {
  font-size: 16px;
}
input {
}
.buttons {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  box-sizing: border-box;
}
button {
  width: 100px;
  height: 55px;
  font-size: 12px;
}
p {
}
