/* * {
  margin: 0;
  box-sizing: border-box;
} */
body {
  width: 100vw;
  margin: 0;
  display: flex;
}
.boxRed {
  background-color: red;
  height: 100vh;
}
.boxBlue {
  background-color: blue;
  height: 100vh;
}
