body {
  display: flex;
  margin: 0;
}
.redPart {
  background-color: red;
  height: 100vh;
  font-size: 50px;
  color: whitesmoke;
  text-align: center;
  padding-top: 50%;
}
.bluePart {
  background-color: blue;
  height: 100vh;
  font-size: 50px;
  color: whitesmoke;
  text-align: center;
  padding-top: 50%;
}
