.card {
  width: 200px;
  height: 300px;
  border: 3px solid gray;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.submit-btn {
  background-color: blueviolet;
  color: white;
  border: none;
  height: 30px;
}
