* {
  margin: 0;
  font-family: sans-serif;
  color: white;
}
.tipCalculatorContainer {
  width: 100vw;
  height: 100vh;
  background-color: rgb(207, 233, 229);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tipCalculatorTitle {
  text-align: center;
  color: white;
  text-shadow: 1px 1px 1px rgb(108, 89, 86);
  padding: 50px 0;
}
.mainCalculator {
  width: 300px;
  background-color: rgb(77, 76, 92);
  border: 1px solid;
  border-radius: 10px;
  padding: 28px;
  box-sizing: border-box;
  box-shadow: 5px 5px 5px rgb(41, 99, 89);
  color: rgb(77, 76, 92);
  font-size: 20px;
  line-height: 26px;
}
.billContainer {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-bottom: 25px;
}
.billInput {
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 2px;
  font-size: 20px;
  line-height: 24px;
  color: rgb(23, 23, 25);
}
.tipSelectorContainer {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-bottom: 25px;
}
.tipBtnsSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 12px;
}
.btn {
  width: 50px;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  padding: 7px 0;
  border-radius: 2px;
  border: 0;
  color: rgb(23, 23, 25);
}
.total {
  margin-bottom: 25px;
}
.resetBtn {
  width: 100%;
  border: none;
  border-radius: 2px;
  padding: 5px 0;
  font-size: 14px;
  color: rgb(23, 23, 25);
  margin-bottom: 25px;
}
