.card {
  width: 870px;
  height: 360px;
  box-shadow: 0, 0, 8px, 0, rgb(0, 0, 0, 0.12);
  border: 1px solid black;
  border-radius: 8px;
  margin-bottom: 24px;
  display: flex;
  background-color: rgb(255, 255, 255);
  font-family: "Roboto";
}
.card_img {
}
.carImg {
  object-fit: contain;
  height: 100%;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.card_text {
  width: 530px;
  height: 360px;
  padding: 20px;
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  box-sizing: border-box;
  justify-content: flex-start;
}
.carPrice {
  font-size: 20px;
  line-height: 24px;
  color: rgb(0, 0, 0);
}
.carNameAndYear {
  display: flex;
  font-size: 20px;
  line-height: 26px;
}
.carName {
}
.carYear {
}
.carYear {
}
.carMileage {
}
.carEngineSize {
}
.carFuelEfficiency {
}
