.card {
  width: 870px;
  height: 360px;
  box-shadow: 0, 0, 8px, 0, rgb(0, 0, 0, 0.12);
  border: 1px solid black;
  border-radius: 8px;
  margin-bottom: 24px;
  display: flex;
  background-color: rgb(255, 255, 255);
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}
.card_img {
}
.carImg {
  object-fit: contain;
  height: 365px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.card_text {
  width: 340px;
  height: 360px;
}
.carPrice {
  font-size: 20px;
  line-height: 24px;
  color: rgb(0, 0, 0);
}
.carName {
}
.carYear {
}
.carMileage {
}
.carEngineSize {
}
.carFuelEfficiency {
}
