.card {
  width: 870px;
  height: 360px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  margin-bottom: 24px;
  display: flex;
  background-color: rgb(255, 255, 255);
  font-family: "Roboto";
}
.card_img {
}
.carImg {
  object-fit: cover;
  width: 530px;
  height: 100%;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.card_text {
  width: 340px;
  height: 360px;
  padding: 20px;
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  box-sizing: border-box;
  justify-content: flex-start;
}
.carPrice {
  font-size: 20px;
  line-height: 24px;
  color: rgb(0, 0, 0);
  margin: 0;
  margin-bottom: 8px;
  font-weight: bold;
}
.carNameAndYear {
  display: flex;
  font-size: 20px;
  line-height: 26px;
  margin: 0;
}
.carName {
  margin: 0;
}
.carYear {
  margin: 0;
}
.carDetails {
  display: flex;
  gap: 5px;
  color: rgb(119, 119, 119);
  margin-bottom: 4px;
  font-size: 14px;
  line-height: 18px;
  height: 20px;
}
.carMileage {
  margin: 0;
}
.carEngineSize {
  margin: 0;
}
.carFuelEfficiency {
  margin: 0;
}
